$primary: #906427;
$secondary: #336626;
$color3:#B79726;
$dark:#392C1E;
$black:  #292222;
$fontUp: "Cormorant upright", sans-serif !default;
$fontDwn:'Opensans', serif !default;
@import "../node_modules/bootstrap/scss/bootstrap";